@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto condensed", sans-serif !important;
  overflow-x: hidden;
  background-color: #eee8e4 !important;
}

.brand {
  font-family: "Lobster", cursive, monospace;
}

.card-image {
  max-width: 300px;
  padding: 1.5rem;
  height: auto;
}
